#numList {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.num {
	margin: 10px 10px;
	display: inline-block;
	min-width: 30px;
	height: 30px;
	font-size: 15px;
	background-color: red;
	color: white;
	text-align: center;
	line-height: 30px;
	padding: 0 5px;
}