extends layout
block content
	div#controller
		button.weui_btn#login login
	div.floatlayer.hide#floatItem
		div.window
			h1 这是一个弹出层
			p 这是一个弹出层，点击遮罩或者按钮关闭
				br 
				| 按住标题处可以拖动
			button.web_btn#sure 确定
			button.web_btn#cancle 取消