doctype html
html
	head
		title floatLayer
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="css/vux.css")
		link(rel="stylesheet" type="text/css" href="css/index.css")
		script(type="text/javascript" src="js/jquery.min.js")
		script(type="text/javascript" src="js/index.js")
	body
		block content